{% extends 'todosApp/base.html'%}

{% block content %}
<div class="container mt-3">

        <h1>You have <span class= "badge badge-success mr-1">{{length }}</span>items in your <strong>ToDos</strong> list</h1>

    <ul class='list-group list-group-flush'>
        {% for allmydodos in todolist %}
            <li class="list-group-item ">{{ allmydodos.description }}<form action='/deleteToDo/{{allmydodos.id}}' method='POST' style="display:inline" >
                {% csrf_token %}
                <input class='ml-1 btn btn-outline-dark btn-sm' type="submit" value='&#128465' /></form></li>
        {% endfor %}
    </ul>
        <hr>
                <form  action="/todo/" method="POST">
                    {% csrf_token %}
                    <div class="row">
        
                        <div class="col-md-2" >
                            <label class="badge badge-dark" for="toDoList">ToDos : </label>
                        </div>
                        <div class="col-md-8" >
                            <input  class="form-control"  type="text" name="toDos" id="toDoList" placeholder="Anything to do?" required onclick="focus">
                        </div>
                        <div class="col-md-2 mt-1">
                             <input class="btn btn-outline-success" type="submit" name="mysubmit" value="Add">
                        </div>
               
                    </div>

                </form>
</div>
{% endblock %}